*{
  margin: 0;
  padding:  0;
  box-sizing: border-box;
}

body{
  font-family: "Open Sans";
}


img{
  max-width: 100%;
  height: auto;

}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px
}

ul{
  list-style: none;
  display: flex;
}

li{
 
}

a{
  text-decoration:none;
  margin: 10px ;
  color: #515151;
  font-weight: 700;
}

a:hover{
  color: #0282f9;
}

/* Header terminato */

/* inizio main */

.main-content{
  background-color:black ;
  height: 150px;
  color: white;

}

h2{
  padding: 50px;
  
}

.content-div{
  background-color: #0282f9;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imgs-text{
  display: flex;
  align-items: center;
}

.tag{
  width: 50px;
}

h3{
  display: flex;
  padding-left:10px;
  color: white;
}

/* fine Main */

/* inizio footer */

.jumbotron{
  background-image: url(../src/assets/img/footer-bg.jpg);
  background-size: cover;
  background-position: center;
 
}

.terms{
  display: flex;
  flex-direction: column;
}

.terms-and-right {
  display: flex;  
  justify-content: space-around;           
  align-items: flex-start;    
  gap: 60px;                 
  padding: 50px;
  color: white;  
}

.columns{
  display: flex;
  gap: 40px;
}

.right-logo img {
  max-width: 150px;
  height: auto;
}

.footer-infos{
  background-color: #303030;
  height: 195px
}