*{
  margin: 0;
  padding:  0;
  box-sizing: border-box;
}

body{
  font-family: "Open Sans";
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

img{
  max-width: 100%;
  height: auto;

}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px
}

ul{
  list-style: none;
  display: flex;
}

li{
 
}

a{
  text-decoration:none;
  margin: 10px ;
  color: #515151;
  font-weight: 700;
}

a:hover{
  color: #0282f9;
}

/* Header terminato */

/* inizio main */

.main-content{
  background-color:black ;
  height: 150px;
  color: white;

}

h2{
  padding: 50px;
  
}

.content-div{
  background-color: #0282f9;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imgs-text{
  display: flex;
  align-items: center;
}

.tag{
  width: 50px;
}

h3{
  display: flex;
  padding-left:10px;
  color: white;
}
